In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/OlhaOsypova/Machine-Learning-and-Data-Analytics/refs/heads/main/Topic_4_Classification/Task/heart_at.csv'
df = pd.read_csv(url)
df

,Patient ID,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,...,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Heart Attack Risk,Systolic BP,Diastolic BP
0,BMW7812,67,Male,227,72,0,0,0,0,0,...,261404,27.385175,181,0,6,Argentina,South America,0,124,77
1,CZE1114,21,Male,209,98,0,1,1,0,0,...,285768,28.810186,128,1,8,Canada,North America,0,119,96
2,BNI9906,21,Female,193,72,0,0,1,0,0,...,235282,25.310741,128,4,7,France,Europe,0,116,76
3,JLN3497,84,Male,189,73,0,1,0,0,1,...,125640,22.173679,142,3,7,Canada,North America,0,124,87
4,GFO8847,66,Male,192,93,0,1,1,0,0,...,160555,24.229390,155,1,7,Thailand,Asia,0,132,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,244,61,0,1,0,0,0,...,235420,26.008861,98,7,7,Thailand,Asia,0,147,81
8759,QSV6764,28,Female,199,73,0,0,0,1,0,...,217881,25.373532,165,4,7,Canada,North America,0,101,77
8760,XKA5925,47,Male,224,105,0,1,0,0,0,...,36998,34.637663,202,4,7,Brazil,South America,1,133,77
8761,EPE6801,36,Male,201,60,0,0,0,0,0,...,209943,22.762841,135,2,7,Brazil,South America,0,124,92
8762,ZWN9666,25,Female,191,75,0,1,0,1,0,...,247338,32.390480,174,7,7,United Kingdom,Europe,1,152,85

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Heart Rate                       8763 non-null   int64
 5   Diabetes                         8763 non-null   int64
 6   Family History                   8763 non-null   int64
 7   Smoking                          8763 non-null   int64
 8   Obesity                          8763 non-null   int64
 9   Alcohol Consumption              8763 non-null   int64
 10  Exercise Hours Per Week          8763 non-null   float64
 11  Diet                             8763 non-null   object
 12  Previous Heart Problems          8763 non-null   int64
 13  Medication Use                   8763 non-null   int64
 14  Stress Level                     8763 non-null   int64
 15  Sedentary Hours Per Day          8763 non-null   float64
 16  Income                           8763 non-null   int64
 17  BMI                              8763 non-null   float64
 18  Triglycerides                    8763 non-null   int64
 19  Physical Activity Days Per Week  8763 non-null   int64
 20  Sleep Hours Per Day              8763 non-null   int64
 21  Country                          8763 non-null   object
 22  Continent                        8763 non-null   object
 23  Heart Attack Risk                8763 non-null   int64
 24  Systolic BP                      8763 non-null   int64
 25  Diastolic BP                     8763 non-null   int64
dtypes: float64(3), int64(18), object(5)
memory usage: 1.7+ MB

In [4]:
df.isnull().sum()

Patient ID                         0
Age                                0
Sex                                0
Cholesterol                        0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Country                            0
Continent                          0
Heart Attack Risk                  0
Systolic BP                        0
Diastolic BP                       0
dtype: int64

In [5]:
#Огляд даних. Датасет містить дані типу object, int64, float64, пропусків немає

In [6]:
#Порівняння груп пацієнтів із високим та низьким ризиком серцевого нападу

#групуємо за стовпцем Heart Attack Risk
grouped = df.groupby("Heart Attack Risk")

In [7]:
#дивимось середні значення показників у кожній групі
mean_values = grouped.mean(numeric_only=True)
display(mean_values)

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Systolic BP,Diastolic BP
Heart Attack Risk,,,,,,,,,,,,,,,,,,,,
0,53.606330,208.414296,75.086949,0.171764,0.493599,0.331792,0.353485,0.244844,2.864639,0.170164,0.398826,5.589616,5.875469,157683.662873,26.359414,134.183144,3.498222,6.928521,130.932788,83.710882
1,53.890092,238.373367,74.904747,0.252628,0.491876,0.518318,0.519911,0.325900,1.582762,0.333864,0.504301,7.278433,7.306513,159301.479133,29.373418,171.637464,3.474355,6.336731,142.927365,89.801211

In [9]:
#можемо зробити висновок, що дві категорії людей мають приблизно однаковий вік, людини які мають ризик серуевого нападу мають вищий рівень холестерину, нижчий пульс, більший відсоток ожиріння, менше годин фізичних вправ на тиждень, більший відсоток попередніх серцевих проблем, більший рівень стресу, більший індекс маси тіла та рівень тригліцеридів.

In [11]:
#Підготовка даних

#прибераємо службові та зайві змінні
df_clean = df.drop(["Patient ID", "Country", "Continent"], axis=1)

In [12]:
#закодуємо категоріальні змінні, спочатку дивимось, які мають тип object
cat_cols = df_clean.select_dtypes(include="object").columns
print("\nКатегоріальні змінні:")
print(cat_cols)

Категоріальні змінні:
Index(['Sex', 'Diet'], dtype='object')

In [14]:
#перетворюємо текст в числа
df_encoded = pd.get_dummies(df_clean, drop_first=True)
df_encoded = df_encoded.astype(int)


print("\nРозмірність після кодування:", df_encoded.shape)
df_encoded.head()

Розмірність після кодування: (8763, 24)

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,...,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk,Systolic BP,Diastolic BP,Sex_Male,Diet_Healthy,Diet_Unhealthy
0,67,227,72,0,0,0,0,0,0,0,...,27,181,0,6,0,124,77,1,0,0
1,21,209,98,0,1,1,0,0,2,0,...,28,128,1,8,0,119,96,1,0,1
2,21,193,72,0,0,1,0,0,4,1,...,25,128,4,7,0,116,76,0,1,0
3,84,189,73,0,1,0,0,1,3,0,...,22,142,3,7,0,124,87,1,0,0
4,66,192,93,0,1,1,0,0,2,0,...,24,155,1,7,0,132,82,1,0,1

In [16]:
#Навчання моделі

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

#відокремимо ознаки (X) і цільову змінну (y)
X = df_encoded.drop("Heart Attack Risk", axis=1)
y = df_encoded["Heart Attack Risk"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) #розділяємо дані на тренувальні та тестові

#створюємо і навчаємо модель логістичної регресії
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

y_pred = model.predict(X_test) #робимо передбачення

accuracy = accuracy_score(y_test, y_pred)
print("Точність моделі:", round(accuracy, 3)) #оцінюємо точність

print("\nЗвіт класифікації:")
print(classification_report(y_test, y_pred))

Точність моделі: 0.718

Звіт класифікації:
              precision    recall  f1-score   support

           0       0.73      0.88      0.80      1125
           1       0.66      0.43      0.52       628

    accuracy                           0.72      1753
   macro avg       0.70      0.65      0.66      1753
weighted avg       0.71      0.72      0.70      1753

In [17]:
#отримана точність моделі логістичної регресії становить ≈72%, що свідчить про достатньо хорошу якість передбачення ризику серцевого нападу
#точність можна покращити за допомогою масштабування числових ознак, використання більш складних моделей.
#загалом модель показує адекватний рівень якості й може використовуватися для попереднього оцінювання ризику серцевого нападу

In [18]:
#Ключові ознаки

import pandas as pd
import numpy as np

feature_importance = pd.DataFrame({
    'Feature': X.columns,
    'Coefficient': model.coef_[0]
}) #отримаємо коефіцієнти моделі

feature_importance['Absolute Value'] = abs(feature_importance['Coefficient'])
feature_importance = feature_importance.sort_values('Absolute Value', ascending=False) #за абсолютним значенням визначимо найважливіші

print("Топ-10 найважливіших ознак:")
display(feature_importance.head(10)) #виведемо топ-10

Топ-10 найважливіших ознак:

                            Feature  Coefficient  Absolute Value
19                     Diastolic BP    -0.037002        0.037002
8           Exercise Hours Per Week    -0.025989        0.025989
17              Sleep Hours Per Day    -0.022313        0.022313
11                     Stress Level     0.018753        0.018753
15                    Triglycerides     0.015382        0.015382
12          Sedentary Hours Per Day     0.014943        0.014943
1                       Cholesterol     0.012847        0.012847
18                      Systolic BP    -0.010609        0.010609
2                        Heart Rate    -0.009697        0.009697
16  Physical Activity Days Per Week    -0.006443        0.006443

In [ ]:
#у логістичній регресії кожна ознака має коефіцієнт, чим більше його абсолютне значення тим сильніше впливає ознака на ризик. Позитивний коефіцієнт збільшує ризик серцевого нападу, негативний-зменшує. найпріоритетніші фактори ризику це вік, тиск, ожиріння, рівень холестерину, стрес і малорухливий спосіб життя.